<header class="title_box">
  <div class="inner">
    <div class="title">
      <h1>楽器マッチング</h1>
    </div>
    <div class="right">
      <div class="teacherbtn">
        <a href="/teachers/index">先生はこちら</a>
      </div>
      <div class="loginbtn">
        <a href="/students/sign_in" class="btn">ログイン</a>
      </div>
      <div class="loginbtn">
        <a href="/students/sign_up" class="signupbtn">会員登録</a>
      </div>
    </div>
  </div>
</header>

<main id="app" data-action="home" data-user>
  <div class="mainview">
    <div class="catch">
      <h1>いますぐ音楽はじめよう。</h1>
      <p>
        やってみたい！そう思った時が始める時。
        <br>
        そんなに難しいことじゃありません。
        <br>
        音楽教室がなくたって、先生はそばにいるかも。
      </p>
    </div>
  </div>
</main>

<footer>
  <div class="inner_box">
    <ul> 
      <li>
        <a href="">about</a>
      </li>
      <li>
        <a href="">利用規約</a>
      </li>
      <li>
        <a href="">お問い合わせ</a>
      </li>
  </div>
</footer>